{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block title %} Novo Usuário {% endblock %}
{% block content %}
<div class="container">
    <div class="card">

        <div class="card-header">
            <h4><b>Novo  Usuário</b></h4>
        </div>
        <form method="POST"  enctype="multipart/form-data" class="form-group col-sm-12">
            <br>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-3">
                    {{ form.username|as_crispy_field}}
                </div>
                <div class="form-group col-md-3">
                    {{ form.email|as_crispy_field}}
                </div>
                <div class="form-group col-md-3">
                    {{ form.password1|as_crispy_field}}
                </div>
                <div class="form-group col-md-3">
                    {{ form.password2|as_crispy_field}}
                </div>


            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    {{ form.first_name|as_crispy_field}}
                </div>
                <div class="form-group col-md-3">
                    {{ form.last_name|as_crispy_field}}
                </div>
                <div class="form-group col-md-3">
                    {{ form.cpf|as_crispy_field}}
                </div>
                <div class="form-group col-md-3">
                    {{ form.fone|as_crispy_field}}
                </div>

            </div>
            <div class="form-group">

                <div class="form-check mr-5">
                    {{ form.is_staff|as_crispy_field}}
                </div>
            </div>

            <a href="{% url 'accounts:list_user' %}" class="btn btn-danger mr-2 ">Cancelar</a>
            <button type="submit" class="btn btn-success">Salvar</button>

         </form>
    </div>
</div>

{% endblock %}