{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} Inscrição {% endblock %}

{% block content %}
<div class="container">
    {% include 'includes/mensagens.html'%}
    <div class="card">
        <div class="card-header">
            <h4> <b>Nova Inscrição</b></h4>
        </div>
        <form method="post" enctype="multipart/form-data" class="col-12">
            <div class="form-row">
                {%csrf_token%}
                <div class="form-group col-sm-12">
                    <label class="ml-2" for="edital_titulo">Edital</label>
                    <input id="edital_titulo" class="form-control" type="text" name="edital_titulo" value="{{edital.titulo}}" readonly>
                </div>

                {%for pergunta in edital.pergunta_set.all%}

                {%if pergunta.is_aberta == True and pergunta.has_arquivo == True %}
                        <label class="ml-2">{{pergunta.descricao}}</label>
                        <div class="input-group mb-3">
                            <input type="file"  name="arquivo-{{pergunta.id}}" class="custom-file-input" id="inputfile" required>
                            <label class="custom-file-label" for="inputfile">Escolher arquivo</label>
                        </div>
                {% elif pergunta.is_aberta == True%}
                <div class="form-group col-sm-12">
                    <label for="pergunta-{{pergunta.id}}">{{pergunta.descricao}}</label>
                       <textarea class="form-control" name="pergunta-{{pergunta.id}}" id="pergunta-{{pergunta.id}}" rows="3" required></textarea>
                </div>

                {% elif pergunta.has_arquivo == True%}

                        <label class="ml-2">{{pergunta.descricao}}</label>
                        <div class="input-group mb-3">
                            <input type="file"  name="arquivo-{{pergunta.id}}" class="custom-file-input" id="inputfile" required>
                            <label class="custom-file-label" for="inputfile">Escolher arquivo</label>
                        </div>

                {% else %}
                <div class="form-group col-sm-12 ">
                    <label class="ml-1">{{pergunta.descricao}}</label>
                    <select class="custom-select" name="pergunta-{{pergunta.id}}" required>
                        <option  value="">Escolha uma Opção</option>
                        {%for alternativa in pergunta.alternativa_set.all%}
                        <option value="{{alternativa.id}}">{{alternativa.descricao}}</option>
                        {%endfor%}
                    </select>

                </div>
                {%endif%}
                {%endfor%}


                <a href="{% url 'editais:inscricao_view_user' edital.id %}" class="btn btn-danger  mr-2 ml-2 mb-2">Cancelar</a>
                <button type="submit" class="btn btn-success mb-2 " >Salvar</button>

            </div>
        </form>
    </div>

</div>

{% endblock %}


{% block scripts %}
$('input[type="file"]').change(function(e){
var fileName = e.target.files[0].name;
$('.custom-file-label').html(fileName);
});
{%endblock %}