{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} Inscrição {% endblock %}

{% block content %}
<div class="container">
    {% include 'includes/mensagens.html'%}
    <div class="card">
        <div class="card-header">
            <h4><b>Editar Inscrição</b></h4>
        </div>

                <form method="post"  enctype="multipart/form-data" class="col-sm-12">
                    <div class="form-row">
                        {%csrf_token%}
                        <div class="form-group col-sm-12">
                            <label class="ml-2" for="edital_titulo">Edital</label>
                            <input id="edital_titulo" class="form-control" type="text" name="edital_titulo" value="{{inscricao.edital.titulo}}" readonly>
                        </div>
                        {% for resp in inscricao.resposta_set.all%}

                        {% if resp.pergunta.is_aberta == True and resp.pergunta.has_arquivo == True %}
                            <label  class="ml-2">{{resp.pergunta.descricao}}</label>
                            <div class="input-group mb-3">
                                <input type="file"  name="arquivo-{{resp.pergunta.id}}" class="custom-file-input" id="inputfile">
                                <label class="custom-file-label" for="inputfile">Escolher arquivo</label>
                            </div>

                        {%elif resp.pergunta.is_aberta == True%}

                        <div class="form-group col-sm-12">
                            <label for="pergunta-{{resp.pergunta.id}}">{{resp.pergunta.descricao}}</label>
                            <textarea class="form-control" name="pergunta-{{resp.pergunta.id}}" id="exampleFormControlTextarea1"  rows="3" required>{{resp.resposta_aberta}}</textarea>
                        </div>

                        {%elif resp.pergunta.has_arquivo == True %}

                        <label  class="ml-2">{{resp.pergunta.descricao}}</label>
                        <div class="input-group mb-3">
                            <input type="file"  name="arquivo-{{resp.pergunta.id}}" class="custom-file-input" id="inputfile" >
                            <label class="custom-file-label" for="inputfile">{{MEDIA_URL}}{{ resp.arquivo}}</label>
                        </div>

                        {%else%}

                        <div class="form-group col-sm-12 ">
                            <label class="ml-1" for="pergunta-{{resp.pergunta.id}}">{{resp.pergunta.descricao}}</label>
                            <select class="custom-select" name="pergunta-{{resp.pergunta.id}}">
                                        <option  value="">Escolha uma Opção</option>
                                {%for alternativa in resp.pergunta.alternativa_set.all%}
                                {% if alternativa.id == resp.alternativa.id %}
                                        <option value="{{alternativa.id}}" selected>{{alternativa.descricao}}</option>
                                {%else%}
                                         <option value="{{alternativa.id}}">{{alternativa.descricao}}</option>
                                {%endif%}
                                {%endfor%}
                            </select>
                        </div>

                        {%endif%}
                        {%endfor%}
                        <a href="{% url 'editais:inscricao_view_user' inscricao.id %}" class="btn btn-danger mb-3 mr-2 ml-2">Cancelar</a>
                        <button type="submit" class="btn btn-success   mb-3" >Salvar</button>
                        <br>

                    </div>
                </form>

    </div>
</div>
{% endblock %}


{% block scripts %}
$('input[type="file"]').change(function(e){
var fileName = e.target.files[0].name;
$('.custom-file-label').html(fileName);
});
{%endblock %}